@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,800&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&family=Rubik:ital,wght@0,300;1,300&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css');

@import "./fontawesome/scss/solid.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --clr: linear-gradient(45deg, #4f0f40 0%,#8f5faf 100%);
}

body {
    display: flex;
    justify-content: center;
    min-height: 500vh;
    background: var(--clr);
    
}

.home {
    background-color: rgb(253, 252, 249);
    background-position: 2%;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 8px;
}

.home{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.logo{
    object-fit: contain;
}

.image-home{
    position: absolute;
    top: 5px;
    right: 75%;
    height:62px;
    width: 200px;
}

.menu-home{
    display: flex;
    gap: 1rem;
}

.menu-home ul{
    display: flex;
    width: 350px;
}

.menu-home ul li{
    position: relative;
    list-style: none;
    width: 30%;
    height: 100%;
    z-index: 1;
    
}

.menu-home ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    left: -90%;
    width: 100%;
    text-align: center;
    font-size: 500;
}

.menu-home ul li a .icon{

    background-color: #8f5faf;
    color: rgb(253, 252, 249);
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}


.menu-home ul li:hover a .icon{
    transform: translateY(32px);

}

.menu-home ul li a .text{   
    position: absolute;
    display: block;
    top: -57%;
    font-family: roboto;
    line-height: 25px;
    font-size: 0.75em;
    text-align: center;
    transition: 0.5s;   
    color: #8f5faf;

}

.menu-home ul li:hover a .text{
    opacity: 1;
    transform: translateY(25px); 
}

.media-social{
    position: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
}

.media-social i{
    background-color: #8f5faf;
    color: rgb(253, 252, 249);
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;  
}

.rodapé {
    background-color: rgb(253, 252, 249);
    background-position: -100%;
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    box-shadow: 0 0 8px;
}

.rodapé {
    margin-bottom:-215%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}