@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,800&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&family=Rubik:ital,wght@0,300;1,300&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css');

@import "./fontawesome/scss/solid.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --clr: linear-gradient(45deg, #4f0f40 0%,#8f5faf 100%);
}

.home {
    background-color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 100; 
}

.home{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;  
}

.logo{
    object-fit: contain;
}

.image-home{
    position: absolute;
    top: 5px;
    right: 70%;
    height: 52px;
    width: 270px;
}

.menu-home{
    display: flex;
    gap: 1rem;
}

.menu-home ul{
    display: flex;
    width: 350px;
}

.menu-home ul li{
    position: relative;
    list-style: none;
    width: 30%;
    height: 100%;
    z-index: 1;
}

.menu-home ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    left: -90%;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

.menu-home ul li a .icon{

    background-color: #8f5faf;
    color: rgb(253, 252, 249);
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}


.menu-home ul li:hover a .icon{
    transform: translateY(32px);

}

.menu-home ul li a .text{   
    position: absolute;
    display: block;
    top: -58%;
    line-height: 25px;
    font-size: 0.75em;
    text-align: center;
    transition: 0.5s;   
    color: #8f5faf;
}

.menu-home ul li:hover a .text {
    opacity: 1;
    transform: translateY(25px); 
}
.main {
    width: 100%;
    height: 100vh;
}

.img-wrapper {
    width: 100%;
    height: 100vh;
    background-color: #8f5faf;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
} 


.banner {
    position: absolute;
    left: 20%;
    top: 50%;

}

.banner h1 {

    color: #fff;
    font-size: 3.7rem;
    font-family: "roboto" serif;
    font-weight: 300;
    text-shadow: .1rem .2rem 2px rgba(0, 0, 0, 4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s forwards;
}

.banner p {
    font-family: "open sans" serif;
    color: #fff;
    font-size: 1.2rem;
    text-shadow: .1rem .2rem 2px rgba(0, 0, 0, 4);
    opacity: 0;
    animation: moveBanner 1s forwards;
}

@keyframes moveBanner {
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
    
}

.quem-sou {
    background-color: #fff;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
    background-color: #fff

}

.perfil h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    color: rgb(46, 46, 45);
    border-bottom: solid 3px #8f5faf;
    margin-top: 1rem;
    margin-bottom: 1.5rem;

}

.img-perfil {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img-perfil img {
    display: flex;
    width: 20%;
    height: 45%;
    margin-bottom: 4rem;
    border-radius: 10rem;
    border-end-end-radius: 1rem;
    border-image: 2rem rgb(71, 71, 71);
}

.img-perfil p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    width: 50%;
    height: 50%;

}

.conhecimentos {
    display: grid;
    background-color: rgb(231, 226, 226);
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 4rem);
    row-gap: 0.1rem;
    bottom: 2rem;
}

.conhecimento:nth-child(1) {
    grid-column: 3/16;
    grid-row: 4/3;
}

.conhecimento:nth-child(2) {
    grid-column: 3/16;
    grid-row: 1/3;
}

.conhecimento:nth-child(3) {
    grid-column: 13/16;
    grid-row: 1/8;
}

.conhecimento:nth-child(4) {
    grid-column: 3/16;
    grid-row: 5/6;
}

.conhecimento:nth-child(5) {
    grid-column: 13/16;
    grid-row: 3/6;
}

.conhecimento:nth-child(6) {
    grid-column: 13/16;
    grid-row: 5/6;
}

.sessao-conhecimentos {
    background-color: rgb(231, 226, 226);
}

.sessao-header {
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
    background-color: rgb(231, 226, 226);
}

.sessao-header h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    color: rgb(46, 46, 45);
    border-bottom: solid 3px #8f5faf;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.conhecimento-header {
    display: flex;
    align-items: center;
    color: #8f5faf;
}

.conhecimento-header i {
    font-size: 3.5rem;
}

.conhecimento-header h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    padding-left: 2rem;
    color: rgb(82, 79, 79);
}

.conhecimento-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding-top: 1rem;
}

.conhecimento-img-wrapper {
    grid-column: 7/11;
    grid-row: 2/2;
    width: 80%;
}

.conhecimento-img-wrapper img {
    object-fit: cover;
    max-width: 100%;
}

.img-parallax {
    background: url(Imagens/Code-Dev.png);
    background-color: rgba(7, 7, 7, 0.89);
    background-blend-mode: lighten;
    background-attachment: fixed;
    background-size: cover;
    height: 250px;
    display: flex;
    width: 100%;
    align-items: center;
}

.parallax span {
    display: flex;
    padding: 0;
    margin-left: 40rem;
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.sessao-contato {
    width: 100%;
    height: 100vh;
    background-color: #8f5faf;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-wrapper {
    width: 75%;
    display: flex;
    height: 35rem;
    justify-content: space-between;
    background-color: rgb(231, 226, 226);
    border-radius: 3rem;
    box-shadow: 0 1rem 1rem 1rem rgb(0, 0, 0, 0.2);
}

.contato-right {
    width: 50%;
    background: url(Imagens/email.jpg);
    background-size: cover;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.contato-left {
    width: 50%;
    background-color: rgb(231, 226, 226);
    padding: 1rem 1rem 1rem 1rem;
}

.sessao-contato h1 {
    width: 100%;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(51, 48, 48);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 0.5rem;
}

.sessao-contato form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    position: relative;
}

.input-group textarea {
    padding-top: 1rem;
    max-width: 27rem;
    max-height: 10rem;
}

#mensagem {
    height: 8rem;
}

.field {
    background: transparent;
    border: none;
    width: 25rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px dashed rgb(128, 125, 125);
    height: 3rem;
    outline: none;
    margin: 1rem 0;
}

.field-label {
    position: absolute;
    left: 0;
    top: 0.5rem;
    font-size: 0.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    transition: all 0.3s;
}

.field:focus ~  label {
    top: 0;
    font-size: 1rem;
}

.field:focus {
    border-bottom: 2px solid #8f5faf;
}

.btn-submit {
    background: #8f5faf;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, .4);
    width: 75%;
    height: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
}

.btn-submit:hover {
    background: rgb(117, 113, 113);
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2) ;
    text-shadow: none;
}

.media-social {
    position: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
}

.media-social a {
    text-decoration: none;
}

.media-social a i {
    background-color: #8f5faf;
    color: rgb(253, 252, 249);
    text-decoration: none; 
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%; 
    margin-bottom: 1rem; 
}

.media-social i:hover {
    background-color: rgb(117, 113, 113);
}

.rodapé {
    background-color: rgb(253, 252, 249);
    left: 0%;
    width: 100%;
    text-decoration: none;
}

.rodapé {
    position: absolute;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    padding: 1rem;
}

.rodapelogo-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    width: 100%;
}

.rodapelogo-img-wrapper img {
    width: 9%;
    height: 6%;
}

.desenvolvedor-text p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.7rem;
    text-align: center;
    color: rgb(82, 79, 79);
}

.back-to-top {
    color: #4f0f40; /* alterar cor do botão */
    position: fixed;
    z-index: 999;
    bottom: 8rem; /* posição vertical: quanto maior, mais para cima */
    right: 1.5rem; /* posição horizontal: quanto maior, mais para esquerda */
    display:none;
}
.back-to-top:active, .back-to-top:focus, .back-to-top:hover {
    text-decoration: none;
    color:#afb3b0; /* alterar cor do botão quando o mouse estiver em cima ou mobile */    
}

.back-to-top i {
    font-size: 3em; /* alterar tamanho do botão */
}